body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

@font-face {
    font-family: "VladimirScript";
    src: url("../fonts/vladimirScript.ttf");
}
@font-face {
    font-family: "MarckScript";
    src: url("../fonts/MarckScript-Regular.ttf");
}
@font-face {
    font-family: "DancingScript";
    src: url("../fonts/DancingScript-VariableFont_wght.ttf");
}
@font-face {
    font-family: "VonMullerhoff";
    src: url("../fonts/VonMuellerhoff-Regular.ttf");
}

/* MEDIA QUERY */
@media (max-width: 890px) {

}

