.ceremonia{
    background-color: white;
    margin: auto;
}
.ceremonia img{
    position: relative;
    width: 80px;
    left: 40.8vw;
    padding: 1em 0 0 0;
}
.ceremonia h1{
    font-family: "VonMullerhoff";
    font-size: 4.5em;
    margin: 0;
}
.ceremonia section p{
    font-family: "MarckScript";
    font-size: 1.2em;
    
}
.ceremonia section a{
    text-decoration: none;
    color: white;
    background-color: #838C7B;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 15px;
    text-align: center;
}

/* INFO FIESTA */
.fiesta{
    background-color: white;
    margin: auto;
    
}
.fiesta img{
    position: relative;
    width: 120px;
    left: calc(50% - 60px);
    padding: 1em 0 0 0;
}

.fiesta h1{
    font-family: "VonMullerhoff";
    font-size: 4.5em;
    margin: 0;
}
.fiesta section p{
    font-family: "MarckScript";
    font-size: 1.2em;
}
.fiesta section a{
    text-decoration: none;
    color: white;
    background-color: #838C7B;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 15px;
    text-align: center;
}


.btn-outline-condiciones{
    border: #e39f9f 1px solid;
    color: #e39f9f ;
}

.btn-outline-condiciones:hover{
    background-color: #e39f9f;
    border: #cb8686 1px solid;
    color: #fff ;
}
/* INFO regalo */
.regalo{
    color: white;
    background-color: #838C7B;
    border: white solid 3px;
    margin: auto;
    
}
.regalo img{
    position: relative;
    width: 120px;
    left: calc(50% - 60px);
    padding: 1em 0 0 0;
    filter: invert();
}

.regalo h1{
    font-family: "VonMullerhoff";
    font-size: 4.5em;
    margin: 0;
}
.regalo section p{
    font-family: "MarckScript";
    font-size: 1.2em;
}
.regalo section button{
    text-decoration: none;
    color: black;
    background-color: white;
    border: none;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 15px;
    text-align: center;
}
.modal-header, .modal-footer{
    background-color: #838C7B;
}
.modal-header h1{
    font-family: "MarckScript";
    text-align: center;
}


/* INFO confirmar */
.confirmar{
    background-color: white;
    margin: auto;
    
}
.confirmar img{
    position: relative;
    width: 120px;
    left: calc(50% - 60px);
    padding: 1em 0 0 0;
}

.confirmar h1{
    color: black;
    font-family: "VonMullerhoff";
    font-size: 2.5em;
    margin: 0;
}
.confirmar section p{
    font-family: "MarckScript";
    font-size: 1.2em;
}
.confirmar section button{
    text-decoration: none;
    color: white;
    border: none;
    background-color: #838C7B;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 15px;
    text-align: center;
}

.modal-header h1{
    color: white;
    font-family: "MarckScript";
    text-align: center;

}
.btn-wsp{
    background-color: #1da54fca;
    color: white;
}
.btn-wsp a{
    font-style: none;
    text-decoration: none;
    color: white;
}
.btn-wsp:hover{
    background-color: #21ba59ea;
    color: white;
}



/* BOTON PAGO */

.btn-pago {
    border: 1px solid black;
    background-color: #00AEEF;
    width: 160px;
}

.btn-pago:hover {
    background-color: #00AEEF;
    border: 1px solid #00AEEF;
}
.btn-pago:hover a {
    font-weight: 800;
    color: white;
}
.btn-pago a span{
    justify-content: space-between;
}
.btn-pago a{
    width: 100%;
    color: white;
    text-decoration: none;
}
.btn-pago a span img{
    top: -2px;
    left: -5mm;
    width: 30px;
    height: 40px;
}


/* INFO CALENDARIO */
.calendario{
    background-color: white;
    margin: auto;
    
}
.calendario img{
    position: relative;
    width: 80px;
    left: calc(50% - 40px);
    padding: 1em 0 0 0;
}

.calendario h1{
    font-family: "VonMullerhoff";
    font-size: 3em;
    margin: 0;
}
.calendario section p{
    font-family: "MarckScript";
    font-size: 1.2em;
}
.calendario section a{
    text-decoration: none;
    color: white;
    background-color: #838C7B;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 15px;
    text-align: center;
}




@media (max-width: 890px) {
    
    .modal-header h1{
        margin-left: 28vw;
    }

    .ceremonia img{
        position: relative;
        width: 80px;
        left: 37vw;
        padding: 1em 0 0 0;
    }
}



@media (max-width: 890px) {
}