.ceremonia{
    background-color: rgb(255, 243, 221);
    margin: auto;
    
}
.ceremonia img{
    position: relative;
    width: 120px;
    left: calc(50% - 60px);
    padding: 1em 0 0 0;
}

.ceremonia section a{
    text-decoration: none;
    color: white;
    background-color: #A6bb90;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 15px;
    text-align: center;
}

@media (max-width: 890px) {
}