.fiesta{
    background-color: white;
    margin: auto;
    
}
.fiesta img{
    position: relative;
    width: 120px;
    left: calc(50% - 60px);
    padding: 1em 0 0 0;
}

.fiesta h1{
    font-family: "VonMullerhoff";
    font-size: 4.5em;
    margin: 0;
}
.fiesta section a{
    text-decoration: none;
    color: white;
    background-color: #838C7B;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 15px;
    text-align: center;
}

@media (max-width: 890px) {
}
